<ul class='nav__menu-list'>
  <li class='list-item'>
    <LinkTo @route='feed'>
      <FaIcon @icon='list' />
      <span>Händelser</span>
    </LinkTo>
  </li>
  <li class='list-item'>
    <LinkTo @route='notifications'>
      <FaIcon @icon='bell' @prefix='far' />
      <span>Notiser</span>
    </LinkTo>
  </li>
  <li class='list-item'>
    <LinkTo @route='like'>
      <FaIcon @icon='heart' @prefix='far' />
      <span>Gilla</span>
    </LinkTo>
  </li>
  <li class='list-item'>
    <LinkTo @route='messages'>
      <FaIcon @icon='comment' @prefix='far' />
      <span>Meddelanden</span>
    </LinkTo>
  </li>
  <li class='list-item'>
    <LinkTo @route='explore'>
      <FaIcon @icon='map' @prefix='far' />
      <span>Utforska</span>
    </LinkTo>
  </li>
</ul>