<div
  class='profile-card'
  style='--aspect-ratio: 5/7; background-image:url({{@profile.avatarUrl}});'
>
  <div class='profile-card__info'>
    <div class='profile__name'>
      {{@profile.name}}
    </div>
    <div class='profile__desc'>
      {{@profile.age}}
      år,
      {{@profile.city}}
    </div>
  </div>
</div>