<div
  class='profile-card'
  style='--aspect-ratio: 5/7; background-image:url({{@data.avatarUrl}});'
>
  <div class='profile-card__info'>
    <div class='profile__name'>
      {{@data.name}}
    </div>
    <div class='profile__desc'>
      {{@data.age}}
      år,
      {{@data.city}}
    </div>
  </div>
</div>