.menu-explore {
  @include cardLayout();
}

.container-profiles {
  @include cardLayout();
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  padding-top: 26px;
  margin-top: 16px;
}

.content__header {
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;
}

.header-desc {
  font-size: 0.9rem;
  color: $black-60;
}

.content-profiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  gap: 8px;
  margin-top: 16px;

  @include breakpoint(mobile) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}