$main-font: 'Figtree',
sans-serif;

$primary-50: #fee8ef;
$primary-100: #fcb7cc;
$primary-200: #fa94b3;
$primary-300: #f86490;
$primary-400: #f6457b;
$primary-500: #f4175a;
$primary-600: #de1552;
$primary-700: #ad1040;
$primary-800: #860d32;
$primary-900: #660a26;

$indigo-50: #f2effe;
$indigo-100: #d6ccfd;
$indigo-200: #c2b3fc;
$indigo-300: #a690fa;
$indigo-400: #957bf9;
$indigo-500: #7a5af8;
$indigo-600: #6f52e2;
$indigo-700: #5740b0;
$indigo-800: #433288;
$indigo-900: #332668;

$warning-50: #fef4e6;
$warning-100: #fdddb3;
$warning-200: #fbcc8e;
$warning-300: #fab55a;
$warning-400: #f9a63a;
$warning-500: #f79009;
$warning-600: #e18308;
$warning-700: #af6606;
$warning-800: #884f05;
$warning-900: #683c04;

$success-50: #e7f8f0;
$success-100: #b6e9d1;
$success-200: #92deba;
$success-300: #60cf9b;
$success-400: #41c588;
$success-500: #12b76a;
$success-600: #10a760;
$success-700: #0d824b;
$success-800: #0a653a;
$success-900: #084d2d;

$error-50: #feeceb;
$error-100: #fac5c1;
$error-200: #f8a9a3;
$error-300: #f5827a;
$error-400: #f36960;
$error-500: #f04438;
$error-600: #da3e33;
$error-700: #aa3028;
$error-800: #84251f;
$error-900: #651d18;

$gray-50: #f0f1f3;
$gray-100: #d0d3d9;
$gray-200: #b9bdc7;
$gray-300: #989fad;
$gray-400: #858d9d;
$gray-500: #667085;
$gray-600: #5d6679;
$gray-700: #48505e;
$gray-800: #383e49;
$gray-900: #2b2f38;

$black: #000;
$black-87: rgba(0, 0, 0, 0.87);
$black-74: rgba(0, 0, 0, 0.74);
$black-60: rgba(0, 0, 0, 0.6);
$black-38: rgba(0, 0, 0, 0.38);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);
$black-05: rgba(0, 0, 0, 0.05);

$white: #fff;
$white-87: rgba(255, 255, 255, 0.87);
$white-74: rgba(255, 255, 255, 0.74);
$white-60: rgba(255, 255, 255, 0.6);
$white-38: rgba(255, 255, 255, 0.38);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);
$white-5: rgba(255, 255, 255, 0.05);