{{page-title 'Explore'}}

<div class='container-menu-explore'>
  <ul class='menu-explore'>
    <li class='menu-explore__item'><LinkTo @route='explore.new-singles'>Singlar
        online</LinkTo></li>
    <li class='menu-explore__item'><LinkTo @route='feed'>Nya foton</LinkTo></li>
    <li class='menu-explore__item'><LinkTo @route='feed'>Nya singlar</LinkTo></li>
    <li class='menu-explore__item'><LinkTo @route='feed'>Bästa matcher</LinkTo></li>
    <li class='menu-explore__item'><LinkTo @route='feed'>Nya matcher</LinkTo></li>
    <li class='menu-explore__item'><LinkTo @route='feed'>Dejter</LinkTo></li>
  </ul>
</div>

<div class='container-profiles'>
  <Profiles @profiles={{@model.profiles}} />
</div>